*{
    margin: 0;
    padding: 0;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    float: left;
}
a{
    text-decoration: none;
}
.header{
height: 68px;
width:100%;
}
.img{
    width: 120px;
    height: 30px;
    background: url(../image/base.png) no-repeat;
    position: absolute;
    margin-top: 25px;
    margin-left: 35px;
}

.main{
    width: 100%;
    height: 750px;
    background: url(../image/banner.png) no-repeat;
    background-size: 100%;
}
.main .form{
    width: 341px;
    height: 300px;
    float: right;
    margin-top: 200px;
    margin-right: 100px;
    background-color: #FFF;
}
.f-header{
    text-align: center;
    width: 300px;
    height: 24px;
    margin-left: 20px;
    margin-top: 10px;
}
.form form{
    margin-left: 20px;
}
.f-header a{
font-size: 18px;
color: black;
}
.f-header span{
    padding: 30px;
}
.main .form input{
    width: 303px;
    height: 48px;
    margin-top: 20px;
}
.main .form input:last-child{
    background-color: #387aff;
    border: 0;
    cursor: pointer;
    color: white;
}
.f-footer{
    margin-top: 20px;
    margin-left: 20px;
}
.f-footer a{
color: #387aff;
float: left;
font-size: 14px;
}
.f-footer a:last-child{
    margin-left: 200px;
}
.footer{
    width: 100%;
    height: 131px;
}
.footer .box{
    width: 1000px;
    height: 61px;
    margin: 0 auto;
    padding-top: 46px;
    font-size: 14px;
}
.footer .box .list-one{
    width: 444px;
    height: 50px;
    float: left;
}
.footer .box .list-one ul li{
    margin-right: 2px;
}
.footer .box .list-two{
    width: 252px;
    height: 50px;
    margin-left: 10px;
    float: left;
}
.footer .box .list-two ul li{
    margin-right: 10px;
}
.footer .box .list-two ul li:last-child{
    background: #32a5e7;
    color: white;
    border-radius: 5%;
    width: 64px;
    height: 20px;
    text-align: center;
    margin-left: 7px;
}
.footer .box .list-three{
    float: left;
    width: 134px;
    margin-left: 100px;
}
.footer .box .list-three .list-weibo{
    background: url(../image/base.png) no-repeat;
    width: 32px;
    height: 32px;
    background-position: -218px -91px;
    margin-right: 15px;
}
.footer .box .list-three .list-weixin{
    background: url(../image/base.png) no-repeat;
    width: 32px;
    height: 32px;
    background-position: -302px -91px;
    margin-right: 15px;
}
.footer .box .list-three .list-qzone{
    background: url(../image/base.png) no-repeat;
    width: 32px;
    height: 32px;
    background-position: -344px -91px;
}
.footer .box .list-three .one-a a:hover{
    background: url(../image/base.png) no-repeat;
    width: 32px;
    height: 32px;
    background-position: -218px -137px;
    margin-right: 15px;
}
.error{
	color:red;
}
