@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a,u{text-decoration: none;}
b,strong{font-weight: normal;}
em,i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
input{outline: none;}
img{display: block;border: 0;}
body{font-family: "微软雅黑"}

.header-cont,.cart-empty-cont{width: 1240px;margin: 0 auto;}

/* header */
#header{background: #fff;}
.header-cont{height: 80px;border-bottom: 1px solid #efefef;}
.header-cont .icon-meizu{float: left; font-size: 23px;color: #00b4ff;line-height: 80px;}
.header-cont .header-li{float: left; margin-left: 55px;}
.header-cont .header-li a{display: block; float: left; font-size: 14px;color: #333;line-height: 80px;}
.header-cont .header-order{float: right;}
.header-cont .header-order a{float: left;font-size: 14px;color: #333;line-height: 80px;margin-left: 40px;}

/* cart-empty */
#cart-empty{background: #f4f6fa;padding-top: 10px;padding-bottom: 70px;}
.cart-empty-cont{height: 360px;text-align: center;background: #fff;}
.cart-empty-box{padding-top:180px;}
.cart-empty-left{display: inline-block; width: 100px;height: 114px;background: url(../images/car.png);vertical-align: middle;}
.cart-empty-right{display: inline-block; height: 75px;font-size:14px;color: #666;}
.cart-empty-right span{display: inline-block; min-width: 58;min-height: 34px; color: #00c3f5;border: 1px solid #00c3f5;line-height: 34px;padding: 5px 20px;border-radius: 4px;color:#00c3f5 }