@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a,u{text-decoration: none;}
b,strong{font-weight: normal;}
em,i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
input{outline: none;}
img{display: block;border: 0;}
body{font-family: "微软雅黑"}

.fast-nav-cont,.row-container,.simple-cont{width: 1240px;margin: 0 auto;}


.nav-box{height: 80px;background: #ccc;}
/* fast-nav 手机标题头部 */
#fast-nav{background: #f6f8fb;}
.fast-nav-cont{height: 70px;border-top:1px dashed #efefef;}
.fast-name{font-size:26px;text-align: center;line-height: 70px;float: left;}
.fast-ul{width: 190px; float: right;}
.fast-ul a{float: left;padding:0 10px 0 10px;line-height: 70px;font-size:16px; color: #000;background: url(../images/bg1_03.jpg) no-repeat right}
.fast-ul .fast-a{background: none;} 
.fast-ul a:hover{color: #27b3ff}

/* container 手机信息主体*/

.row-container{min-height: 996px;}

/* 左边手机信息主体 */
.preview{float: left; width: 560px;padding-left:50px;}
.preview-booth{width: 560px;height: 560px;}
/* 大图 */
.smallBox {width: 330px;height: 330px;float: left;position: relative;margin-left: 10px;margin-top: 100px;border: 1px solid #ccc;}
.tool {width: 50px;height: 50px;background: #000;opacity: 0.4;position: absolute; top: 0;left: 0;cursor: move;display: none;}
.smallImg {width: 330px;height: 330px;}
.smallImg img {width: 330px;height: 330px;}
.bigBox {width: 200px;height: 200px;overflow: hidden;float: left;margin-top: 150px;margin-left: 10px;position: relative;border: 1px solid #ccc;display: none;}
.bigImg {width: 800px;height: 800px;}
.bigBox img {width: 800px;height: 800px;position: absolute;top: 100px;left: 0;}
/* 小图信息 */
.preview-thumb{width: 560px; float: left; margin-top:10px;}
.preview-thumb li{float: left;margin-right:50px;}
.preview-thumb #pf{margin-right: 0px;float: left;}
.preview-thumb img{width:80px ;height: 80px;}

/* 收藏小标 */
.preview-action{width: 560px;height: 90px; float: left;}
.preview-action a{font-size: 12px;float: left;margin-top:30px; padding-right: 30px;text-align: center;}

/* 右边手机信息主体 */
.property{width: 630px;float: right;}

/* 手机信息标题 */
.property-hd{margin-top:56px;margin-bottom: 10px; }
.property-hd h1{font-size: 22px;font-weight: 700px;margin-bottom: 4px;color: #262626;}
.property-hd p{font-size: 14px;color: #e22841;}

/* 手机价格 */
.property-sell{background: #f4f6fa;color: #e02b41;width: 630px;float: left;}
.mod-price small{font-size: 24px;margin-left:10px; }
.mod-price span{font-size: 36px;}
/* 手机价格下 */
.property-sell-morebuy{padding-top: 16px;margin-bottom: 14px;}
.property-sell-morebuy p{float: left;font-size: 14px;width: 72px;background: #F2EAEF;color: #e02b41;text-align: center;margin-left:10px;line-height: 14px;margin-bottom: 14px;}
.property-sell-morebuy span{float: left;font-size:14px;color: #595959;text-align: center;line-height: 14px; margin-left: 13px;}
.property-sell-morebuy a{float: left; font-size:14px;color:#27b3ff;line-height: 14px;text-align: center; margin-left: 14px;}

/* 支持花呗 */
.property-service{float: left;font-size:12px;color: #8c8c8c;width: 630px;border-bottom:1px dashed #dedede; }
.property-service-item{float: left; height: 56px;}
.property-service-item span{float: left;margin: 0 16px 0 10px;line-height: 56px;}
.property-service-item ul{float: left;line-height: 56px;}
.property-service-item ul li{float: left;margin-right:21px;}
.property-service-item ul li i{ margin-right:9px;}

/* 配送信息 */
.property-service-suda{width: 630px;float: left;}
.property-service-suda span{float: left;color: #8c8c8c;font-size:12px;margin:0 18px 0 10px;}

/* 在线客服 */
.property-service-provider{width: 630px;line-height: 12px;}
.property-service-provider span{float: left;margin: 15px 0 22px 74px;}
.property-service-provider a{float: left;margin-left:10px; margin-top:15px;color:#27b3ff; }
.property-service-provider a i{float: left;}
.property-service-provider a p{float: left;}

/* 手机型号 */
.property-sibling{float: left; width: 630px;}
.vm-metatit1{float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px;}
.property-sibling .clearfix{width: 550px;float: right;}
.property-sibling .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-sibling .clearfix .model-style{color: #000;border-color: #000;}
/* .property-sibling .clearfix a:hover{border-color: #000;color: #000;} */

/* 网络型号 */
.property-set-sale{float: left;width: 630px;padding-top: 10px;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.property-set-sale .clearfix{width: 550px;float: right;}
.property-set-sale .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-set-sale .clearfix .model-style{color: #000;border-color: #000;}

/* 颜色分类 */
.property-color{float: left;width: 630px;padding-top: 10px;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.property-color .clearfix{width: 550px;float: right;}
.property-color .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-color .clearfix a img{width: 32px;height: 32px;float: left;margin-left:30px;  }
.property-color .clearfix a span{float: left;font-size:14px;margin-top: 8px;}
.property-color .clearfix .model-style{color: #000;border-color: #000;}


/* 内存容量 */
.property-memory{float: left;width: 630px;padding-top: 10px;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.property-memory .clearfix{width: 550px;float: right;}
.property-memory .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-memory .clearfix .model-style{color: #000;border-color: #000;}

/* 选择套餐 */
.property-package{float: left;width: 630px;padding-top: 10px;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.property-package .clearfix{width: 550px;float: right;}
.property-package .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-package .clearfix span{font-size: 12px;color: #f86467;}
.property-package .clearfix em{font-size: 12px;color: #f86467;}
.property-package .clearfix .model-style{color: #000;border-color: #000;}

/* 花呗分期 */
.property-periodization{float: left;width: 630px; padding-top: 10px;position: relative;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.icon-wenhao{position: absolute;top: 50px;left: 33px;}
.property-periodization .clearfix{width: 550px;float: right;}
.property-periodization .clearfix a{width: 145px;float: left; border: 1px solid #BFBFBF;text-align: center;margin-right: 36px;margin-top: 10px;color: #8c8c8c;font-size: 14px;padding:14px 0; }
.property-periodization .clearfix span{line-height: 18px; }
.property-periodization .clearfix .model-style{color: #000;border-color: #000;}

/* 数量 */
.property-buy-quantity{float: left;width: 630px;padding-top: 10px;}
.vm-metatit2{ float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;width: 65px;margin-top: 20px;margin-left: 10px; }
.property-buy-quantity .clearfix{width: 550px;float: right;}
.property-buy-quantity .clearfix a{ display: block; width: 30px;height: 38px;border: 1px solid #e7e7e7;line-height: 38px;text-align: center;background: #f7f7f7;font-size:14px;color: #e0e0e0;}
.property-buy-quantity .clearfix .vm-minus{float: left;}
.property-buy-quantity .clearfix input{float: left; width: 60px;height: 38px;text-align: center;line-height: 36px;font-size: 12px;color: #8c8c8c;border: 1px solid #dedede;}
.property-buy-quantity .clearfix .vm-push{float: left;color: #000;}

/* 购买 */
.property-buy-action{float: left;width: 630px;padding-top: 46px;}
.property-buy-action .btn-primary{float: left; width: 208px;background-color: #27b3ff;padding:15px 0; text-align: center;line-height: 24px;color: #fff;margin-left: 10px;}
.property-buy-action .btn-empty{float: left; width: 208px;padding:14px 0; text-align: center;line-height: 24px;border: 1px solid #27b3ff;color: #27b3ff;margin-left: 20px;}
.window{ width:250px; background-color:#d0def0; position:absolute; padding:2px; margin:5px; display:none; } 
.content{ height:100px; background-color:#FFF; font-size:14px;overflow:auto;text-align: center;} 
.title{ padding:2px; color:#0CF; font-size:14px; text-align: center} 
.title img{  width: 20px;height: 20px;float:right; } 

/* 服务说明 */
#simple{background: #f4f4f4;}
.simple-hd{width: 1240px;margin:0 auto;font-size: 24px;padding-top: 45px;padding-bottom: 20px;}