@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a,u{text-decoration: none;}
b,strong{font-weight: normal;}
em,i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
input{outline: none;}
img{display: block;border: 0;}
body{font-family: "微软雅黑"}

.header-cont,.search-cont{width: 1240px;margin: 0 auto;}
/* header */
#search{background: #f4f4f4;}
.search-cont{height: 738px;}
.search-hd{height: 40px;padding-bottom:20px;padding-top: 10px;}
.search-result{float: left; font-size: 18px;color: #333;line-height: 40px;}
.search-recommend{float: right;font-size: 18px;color: #343434;line-height: 40px;}
.search-recommend a{float: left;font-size: 18px;color: #343434;padding-left:35px;}
.search-recommend a:hover{color: #00c3f5;}

.search-left{width: 403px;height: 556px;background: #fff;float: left;}
.search-left img{width: 320px;height: 320px;margin: 0 auto;}
.search-left h3{font-size:23px;color: #333;text-align: center; padding: 0 12px;}
.search-left p{font-size: 16px;color: #666;text-align: center;margin: 5 auto;}
.search-left span{display: block; font-size: 16px;color: #c00;text-align: center;padding: 0 12px;}
.search-left span em{font-size: 28px;}

.search-center{width: 403px;height: 556px;background: #fff;float: left;margin-left:10px; }
.search-center img{width: 320px;height: 320px;margin: 0 auto;}
.search-center h3{font-size:23px;color: #333;text-align: center; padding: 0 12px;}
.search-center p{font-size: 16px;color: #666;text-align: center;margin: 5 auto;}
.search-center span{display: block; font-size: 16px;color: #c00;text-align: center;padding: 0 12px;}
.search-center span em{font-size: 28px;}

.search-right{width: 403px;height: 556px;background: #fff;float: left;margin-left:10px;}
.search-right img{width: 320px;height: 320px;margin: 0 auto;}
.search-right h3{font-size:23px;color: #333;text-align: center; padding: 0 12px;}
.search-right p{font-size: 16px;color: #666;text-align: center;margin: 5 auto;}
.search-right span{display: block; font-size: 16px;color: #c00;text-align: center;padding: 0 12px;}
.search-right span em{font-size: 28px;}