@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0; }

a, u {
  text-decoration: none; }

em, i {
  font-style: normal; }

b, strong {
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input {
  outline: none; }

img {
  border: 0;
  display: block; }

.clear_fix {
  zoom: 1; }
  .clear_fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

#header {
  background: #fff; }

.header-cont {
  height: 80px;
  border-bottom: 1px solid #efefef; }
  .header-cont .icon-meizu {
    float: left;
    font-size: 23px;
    color: #00b4ff;
    line-height: 80px; }
  .header-cont .header-li {
    float: left;
    margin-left: 55px; }
    .header-cont .header-li a {
      display: block;
      float: left;
      font-size: 14px;
      color: #333;
      line-height: 80px; }
  .header-cont .header-order {
    float: right; }
    .header-cont .header-order a {
      float: left;
      font-size: 14px;
      color: #333;
      line-height: 80px;
      margin-left: 40px; }
