@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a,u{text-decoration: none;}
b,strong{font-weight: normal;}
em,i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
input{outline: none;}
img{display: block;border: 0;}
body{font-family: "微软雅黑"}

.header-cont,.fast-nav-cont,.row-container{width: 1240px;margin: 0 auto;}

/* header 标题 */
#header{background: blue;}
.header-cont{ height: 80px; background: red;}

/* fast-nav 手机标题头部 */
#fast-nav{background: #f6f8fb}
.fast-nav-cont{height: 70px;border-top:1px dashed #efefef;}
.fast-name{font-size:26px;text-align: center;line-height: 70px;float: left;}
.fast-ul{width: 190px; float: right;}
.fast-ul a{float: left;padding:0 10px 0 10px;line-height: 70px;font-size:16px; color: #000;background: url(../images/bg1_03.jpg) no-repeat right}
.fast-ul .fast-a{background: none;} 
.fast-ul a:hover{color: #27b3ff}

/* container 手机信息主体*/
#container{background: gray;}
.row-container{height: 1082px;background: pink;}

/* 左边手机信息主体 */
.preview{float: left; width: 560px;background: blue;padding-left:50px;}
.preview-booth{width: 560px;height: 560px;}
/* 大图 */
.preview-booth img{width: 560px;height: 560px;}
/* 小图信息 */
.preview-thumb{width: 560px; float: left; margin-top:10px;}
.preview-thumb li{float: left;margin-right:80px;}
.preview-thumb #pf{margin-right: 0px;float: right}
.preview-thumb img{width:80xp ;height: 80px;}

/* 收藏小标 */
.preview-action{width: 560px;height: 90px; float: left;}
.preview-action a{font-size: 12px;float: left;margin-top:30px; padding-right: 30px;text-align: center;}

/* 右边手机信息主体 */
.property{width: 630px;background: green;float: right;}

/* 手机信息标题 */
.property-hd{margin-top:56px;margin-bottom: 10px; }
.property-hd h1{font-size: 22px;font-weight: 700px;margin-bottom: 4px;color: #262626;}
.property-hd p{font-size: 14px;color: #e22841;}

/* 手机价格 */
.property-sell{background: #f4f6fa;color: #e02b41;width: 630px;float: left;}
.mod-price small{font-size: 24px;margin-left:10px; }
.mod-price span{font-size: 36px;}
/* 手机价格下 */
.property-sell-morebuy{padding-top: 16px;margin-bottom: 14px;}
.property-sell-morebuy p{float: left;font-size: 14px;width: 72px;background: #F2EAEF;color: #e02b41;text-align: center;margin-left:10px;line-height: 14px;margin-bottom: 14px;}
.property-sell-morebuy span{float: left;font-size:14px;color: #595959;text-align: center;line-height: 14px; margin-left: 13px;}
.property-sell-morebuy a{float: left; font-size:14px;color:#27b3ff;line-height: 14px;text-align: center; margin-left: 14px;}

/* 支持花呗 */
.property-service{float: left; background: red;font-size:12px;color: #8c8c8c;width: 630px;border-bottom:1px dashed #dedede; }
.property-service-item{float: left; height: 56px;}
.property-service-item span{float: left;margin: 0 16px 0 10px;line-height: 56px;}
.property-service-item ul{float: left;line-height: 56px;}
.property-service-item ul li{float: left;margin-right:21px;}
.property-service-item ul li i{ margin-right:9px;}

/* 配送信息 */
.property-service-suda{width: 630px;float: left;}
.property-service-suda span{float: left;color: #8c8c8c;font-size:12px;margin:0 18px 0 10px;}

/* 在线客服 */
.property-service-provider{width: 630px;line-height: 12px;}
.property-service-provider span{float: left;margin: 15px 0 22px 74px;}
.property-service-provider a{float: left;margin-left:10px; margin-top:15px;color:#27b3ff; }
.property-service-provider a i{float: left;}
.property-service-provider a p{float: left;}

/* 手机型号 */
.property-sibling{width: 630px;background: plum;}
.vm-metatit{float: left;color: #8c8c8c;font-size: 12px;line-height: 12px;}
.clearfix{width: 565px;}
.clearfix a{width: 176px;float: left;position: relative;border: 1px solid #BFBFBF;}